
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    
    
}

nav .nav-right a {
    margin-right: 10px;
    color:  black;
    font-size: 1rem;
    
}

nav .nav-right .icon-menu {
    background-image: url('https://cdn-icons-png.flaticon.com/512/17/17704.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 12px;
    height: 12px;
}

nav .nav-right img {
    border-radius: 50%;
    margin-left: 10px;
    height: 32px;
    width: 32px;
    margin: 10px;
}

main {
    margin-top: 120px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img {
    height: 115px;
    width: 210px;
}

main .main-input {
    width: 470px;
    margin: 0 auto;
    margin-bottom: 30px;
}

main .main-input-container {
    width: 475px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 410px;
    height: 30px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon {
    background-image: url('https://icon-library.com/images/google-search-icon/google-search-icon-7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 11px;
    height: 11px;
}

main .main-input .micro-icon {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;

}

main .main-buttons {
    width: 530px;
    margin: 0 auto;

}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 26px;
    background-color: #f8f9fa;
    border: none;
    font-size: 1.2rem;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin: 11px 0px;
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: #222;
    
}

footer {
    width: 100%;
    height: 38px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.1rem;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;

}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #5f6368;

}
footer div {
    width: 100%;
    margin-bottom: 38px;
    height: 38px;
    position: absolute;
    bottom: 0;
    display: grid;
    align-items: center;
    font-size: 1.1rem;
    background-color: #f2f2f2;
    
}
footer .footer-top {
    list-style: none;
    color: #5f6368;
    justify-self: left;
    padding: 0 15px;
}
